@use "../../../styles/variables" as *;

.fileInput {
  width: 100%;
  padding: 0.5rem;

  border: 1px solid $border-color;
  border-radius: 8px;
  background-color: $input-bg;
  color: $text-primary;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}