@use "../../../styles/variables" as *;

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 8px;

  background-color: $input-bg;
  color: $text-primary;

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &::placeholder {
    color: $text-secondary;
  }

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 3px rgba($primary-color, 0.15);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}