@use "../../../styles/variables" as *;

.Message{
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 0.25rem 1.25rem;
}

.ErrorMessage{
  @extend .Message;
  background-color: $error-bg;
  color: $error-color;
}

.SuccessMessage{
  @extend .Message;
  background-color: $success-bg;
  color: $success-color;
}

.SuccessMessage{
  @extend .Message;
  background-color: $success-bg;
  color: $success-color;
}

.InfoMessage{
  @extend .Message;
  background-color: $info-bg;
  color: $info-color;
}